.body-container{
    background: #F5F5F5;
    font-family: Arial;
    border-radius: 10px;
  }
  .skill{
    width: 50%;
    background: 2px #f60 solid;
    border-radius: 10px;
    background: lightyellow;
  }

  .span-text {
    
    font-weight: bold;
  }